In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/student-mat.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [13]:
# tranform catagories to numerically computable data

# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# X[:, 0:2]=le.fit_transform(X)

In [15]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# ohe = OneHotEncoder()

# ct = ColumnTransformer([('Country', ohe, [0])], remainder='passthrough') 
# passthrough means pass the other columns of X
# x = ct.fit_transform(X)

# separate columns created for france, germany and spain containing 0 and 1

In [ ]:
# Simplest Way

# new_data = pd.get_dummies(data)
# new_data

In [29]:
X_list = ['age', 'address', 'famsize', 'reason', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
     'higher', 'internet', 'romantic', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2']

In [36]:
X = df.iloc[:, 0:-1]

y = df.iloc[:, 32:33]

In [37]:
X = pd.get_dummies(X, drop_first= True)

In [40]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score 

from sklearn.metrics import mean_absolute_error, mean_squared_error, accuracy_score

Y = df['G3']
X = df[['age','address','famsize','reason','studytime','failures','schoolsup','famsup','paid','activities','higher','internet','romantic','freetime','goout','health','absences','G1','G2']]
curr_col = [col for col in ['school', 'internet', 'paid', 'activities', 'higher', 'reason', 'romantic', 'schoolsup', 'guardian', 'sex', 'address', 'famsize', 'Mjob', 'Fjob', 'Pstatus', 'famsup', 'nursery'] if col in list(X.columns)]
X = pd.get_dummies(X,columns=curr_col,drop_first=True)


X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [41]:
slr = LinearRegression()
slr.fit(X_train,Y_train)

LinearRegression()

In [43]:
pred = slr.predict(X_test)

In [45]:
msev = mean_squared_error(Y_test,pred)
r2sv = r2_score(Y_test,pred)
print("Mean Square Error: {}\nR2 Score: {}".format(msev, r2sv))

Mean Square Error: 4.795353050530762
R2 Score: 0.78185155049804